body {
    background-color: #e6e6e6;
    color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

button {
    background-color: #006e67;
}

button:hover {
    background-color: rgb(71, 173, 166);
}

input {
    color: #000000;
    background-color: #fdfdfd;
}

input:focus {
    background-color: #f9d8d8;
}

#lightbtn {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}